# ===== FRONTEND =====
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/.env

# ===== BACKEND =====
/backend/vendor/
/backend/node_modules/
/backend/storage/*
!/backend/storage/app
!/backend/storage/framework
!/backend/storage/logs
/backend/.env

# ===== GLOBAL =====
.vscode/
.idea/
.DS_Store
Thumbs.db
.env
