# ===== FRONTEND =====
/frontend/node_modules/
/frontend/dist/
/frontend/build/


# ===== BACKEND =====
/backend/vendor/
/backend/node_modules/
/backend/storage/*
!/backend/storage/app
!/backend/storage/framework
!/backend/storage/logs


# ===== GLOBAL =====
.vscode/
.idea/
.DS_Store
Thumbs.db
